@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

html,
body {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  position: absolute;
  z-index: 5;
}
@keyframes Header {
  from {
    top: -200px;
    height: 150px;
  }
  to {
    top: 0;
    height: 80px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  header {
    justify-content: space-between;
    padding: 40px 30px;
  }
}
header .Menu_box {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box {
    height: 0;
    width: 100%;
    position: absolute;
    top: 150px;
    background-color: white;
    left: 0;
    padding: 0 30px;
    overflow: hidden;
    z-index: 1;
  }
}
header .Menu_box ul {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}
header .Menu_box ul > li > #Home::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  transition: 0.4s;
  bottom: -2px;
}
header .Menu_box ul > li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
header .Menu_box ul > li #Low_res_btn {
  display: none;
  transition: 0.4s;
  position: absolute;
  top: 10px;
  right: 30px;
}
header .Menu_box ul > li #Low_res_btn i {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul > li #Low_res_btn {
    display: flex;
  }
}
header .Menu_box ul > li > a {
  text-decoration: none;
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 320px) and (max-width: 552px) {
  header .Menu_box ul > li > a {
    font-size: 15px;
  }
}
header .Menu_box ul > li > a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: black;
  transition: 0.4s;
  bottom: -2px;
}
header .Menu_box ul > li > a:hover::before {
  width: 100%;
}
header .Menu_box ul li {
  position: relative;
}
@media (min-width: 1200px) {
  header .Menu_box ul li:hover > ul {
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul li ul {
    width: 225px;
    height: 0;
    background-color: transparent;
    gap: 5px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    padding: 0;
    transition: 0.4s;
  }
}
@media (min-width: 1024px) {
  header .Menu_box ul li ul {
    width: 225px;
    height: auto;
    display: none;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 150px;
    gap: 30px;
    padding: 20px;
    background-color: black;
    transition: 0.4s;
  }
}
header .Menu_box ul li ul a {
  color: #c6c6c6;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  transition: 0.4s;
}
@media (min-width: 1024px) {
  header .Menu_box ul li ul a:hover {
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul li ul a {
    color: black;
  }
}
header .Menu_box ul li ul a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: white;
  transition: 0.4s;
  bottom: -5px;
}
header .Menu_box ul li ul a:hover::before {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul li .Low_res_active {
    height: 100px;
  }
}
header .Logo_box {
  transition: 0.4s;
}
header .Logo_box:hover {
  transform: scale(1.1);
}
header .User_info_container {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .User_info_container {
    display: none;
  }
}
header .User_info_container .Cart_box {
  height: 100%;
  position: relative;
}
header .User_info_container .Cart_box:hover #Cart_items_box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
header .User_info_container .Cart_box #Cart_items_box {
  width: 280px;
  height: auto;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid #3d3d3d;
  padding: 5px 0;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box .Info_box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box img {
  width: 70px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box span {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box h2 {
  color: #707070;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box h2:hover {
  color: white;
}
header .User_info_container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
header .User_info_container > div i,
header .User_info_container > div svg {
  color: black;
  font-size: 13px;
}
header .User_info_container > div #Cart_counter,
header .User_info_container > div #Like_counter {
  color: #000;
  font-size: 12px;
}
header .User_info_container #Cart_items_box {
  position: absolute;
  display: none;
  right: 0;
  top: 150px;
  background-color: #262626;
  width: 280px;
  padding: 20px;
  gap: 10px;
  z-index: 3;
}
header .User_info_container #Cart_items_box span {
  width: 100%;
  float: none;
  padding: 7px 0;
  line-height: 20px;
  color: #9d9d9d;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}
header .User_info_container #Cart_items_box #Total_money {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .User_info_container #Cart_items_box #Total_money h1 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
}
header .User_info_container #Cart_items_box #Total_money span {
  color: #c2c2c2;
  font-size: 15px;
}
header .User_info_container #Cart_items_box .Button_box {
  width: 100%;
  background-color: white;
}
header .User_info_container #Cart_items_box .Button_box a {
  width: 100%;
  padding: 10px 0;
  display: block;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
header .User_info_container #Cart_items_box .Button_box a:hover {
  background-color: #3d3d3d;
  color: white;
}
header #Menu_btn_box {
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header #Menu_btn_box {
    display: flex;
  }
}

.Slider_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.Slider_container .Navigation_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: absolute;
  z-index: 2;
}
.Slider_container .Navigation_box > div {
  transition: 0.4s;
}
.Slider_container .Navigation_box > div i {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.Slider_container .Navigation_box > div:first-child:hover {
  transform: translateX(-10px) rotate(-360deg);
}
.Slider_container .Navigation_box > div:last-child:hover {
  transform: translateX(10px) rotate(360deg);
}
.Slider_container #Slider_page {
  width: 100%;
  height: 100%;
}
.Slider_container #Slider_page .Slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Slider_container #Slider_page .Slide .Background_box {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.Slider_container #Slider_page .Slide .Background_box .Background {
  width: 100%;
  height: 100%;
  position: absolute;
}
@keyframes Hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}
@keyframes Visible {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Slider_container #Slider_page .Slide .Info_box {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  z-index: 2;
}
.Slider_container #Slider_page .Slide .Info_box .Title_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Slider_container #Slider_page .Slide .Info_box .Title_box h1 {
  color: rgb(255, 255, 255);
  letter-spacing: 65px;
  font-weight: 500;
  font-size: 130px;
  transition: 0.4s;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .Slider_container #Slider_page .Slide .Info_box .Title_box h1 {
    font-size: 100px;
  }
}
@media (min-width: 552px) and (max-width: 768px) {
  .Slider_container #Slider_page .Slide .Info_box .Title_box h1 {
    font-size: 50px;
  }
}
@media (min-width: 320px) and (max-width: 552px) {
  .Slider_container #Slider_page .Slide .Info_box .Title_box h1 {
    font-size: 30px;
    letter-spacing: 20px;
  }
}
.Slider_container #Slider_page .Slide .Info_box .Title_box h1:hover {
  transform: scale(1.1);
}
.Slider_container #Slider_page .Slide .Info_box .Button_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: 0.4s;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .Slider_container #Slider_page .Slide .Info_box .Button_box {
    flex-direction: column;
    transform: translateY(70%);
  }
  .Slider_container #Slider_page .Slide .Info_box .Button_box:hover {
    transform: scale(1.1) translateY(70%);
  }
}
@media (min-width: 1024px) {
  .Slider_container #Slider_page .Slide .Info_box .Button_box:hover {
    transform: scale(1.1);
  }
}
.Slider_container #Slider_page .Slide .Info_box .Button_box .Btn1 {
  font-family: "Work Sans", sans-serif;
  border: 1px solid white;
  font-size: 12px;
  height: 46px;
  font-style: normal;
  font-weight: 600;
  background-color: white;
  padding: 0 60px;
  transition: 0.4s;
  cursor: pointer;
}
.Slider_container #Slider_page .Slide .Info_box .Button_box .Btn1:hover {
  background-color: transparent;
  color: white;
}
.Slider_container #Slider_page .Slide .Info_box .Button_box .Btn2 {
  font-family: "Work Sans", sans-serif;
  border: 1px solid black;
  font-size: 12px;
  line-height: 46px;
  height: 46px;
  font-style: normal;
  font-weight: 600;
  background-color: black;
  padding: 0 60px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.Slider_container #Slider_page .Slide .Info_box .Button_box .Btn2:hover {
  background-color: transparent;
  color: black;
}
.Slider_container .Pagination_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  z-index: 1;
  gap: 20px;
  padding: 20px 0;
}
.Slider_container .Pagination_box .Active {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}
.Slider_container .Pagination_box .Active::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  bottom: 0;
  right: 0;
  transition: 0.4s;
}
.Slider_container .Pagination_box .Disable {
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}
.Slider_container .Pagination_box .Disable:hover::before {
  width: 100%;
}
.Slider_container .Pagination_box .Disable::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  right: 0;
  background-color: white;
  bottom: 0;
  transition: 0.4s;
}

.Perfume_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;
}
.Perfume_container .Info_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.Perfume_container .Info_box span {
  color: #000000;
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.Perfume_container .Info_box p {
  color: #000000;
  font-size: 34px;
  line-height: 42px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
}
.Perfume_container .Perfumes {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 100px;
}
@media (min-width: 320px) and (max-width: 560px) {
  .Perfume_container .Perfumes {
    padding: 50px 20px;
    justify-content: center;
    gap: 102px;
  }
}
.Perfume_container .Perfumes .Perfume_box {
  width: 275px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  cursor: pointer;
}
.Perfume_container .Perfumes .Perfume_box:hover img {
  opacity: 0.7;
}
.Perfume_container .Perfumes .Perfume_box:hover .Img_container .Product_action {
  transform: translateY(-10px);
}
.Perfume_container .Perfumes .Perfume_box .Info_box h1 {
  color: #000000;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}
.Perfume_container .Perfumes .Perfume_box .Info_box p {
  color: #707070;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 0;
}
.Perfume_container .Perfumes .Perfume_box .Add_to_cart {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Perfume_container .Perfumes .Perfume_box .Add_to_cart button {
  border: 1px solid #000;
  width: 100%;
  background: black;
  padding: 15px 0;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s;
}
.Perfume_container .Perfumes .Perfume_box .Add_to_cart button:hover {
  color: black;
  background: transparent;
}
.Perfume_container .Perfumes .Perfume_box .Img_container {
  width: 100%;
  height: 258px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.Perfume_container .Perfumes .Perfume_box .Img_container .Img_box {
  width: 100%;
  height: 100%;
}
.Perfume_container .Perfumes .Perfume_box .Img_container .Img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.Perfume_container .Perfumes .Perfume_box .Img_container .Product_action {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  bottom: 0;
  transform: translateY(50px);
  transition: 0.4s;
}
.Perfume_container .Perfumes .Perfume_box .Img_container .Product_action > div {
  cursor: pointer;
  font-size: 25px;
  font-weight: 100;
}
.Perfume_container .Perfumes .Perfume_box .Img_container .Product_action svg {
  width: 30px;
  height: 30px;
}
.Perfume_container .Perfumes .Perfume_box .Img_container .Product_action .Liked {
  animation: Liked 0.4s ease-in-out forwards;
}
@keyframes Liked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#About_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 720px) {
  #About_container {
    flex-direction: column;
    justify-content: center;
  }
}
#About_container > div {
  width: 50%;
  height: 773px;
  transition: 0.4s;
}
@media (min-width: 320px) and (max-width: 720px) {
  #About_container > div {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 1096px) {
  #About_container > div {
    height: 500px;
  }
}
#About_container > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#About_container .Info_box1 {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fcfafa;
  padding: 100px;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 1096px) {
  #About_container .Info_box1 {
    padding: 50px;
  }
}
#About_container .Info_box1 h1 {
  color: #000;
  font-size: 28px;
  line-height: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}
#About_container .Info_box1 p {
  width: 60%;
  color: #707070;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 720px) {
  #About_container .Info_box1 p {
    width: 100%;
  }
}
#About_container .Info_box1 a {
  color: #fff;
  font-family: work sans, sans-serif;
  font-size: 12px;
  line-height: 46px;
  height: 46px;
  font-style: normal;
  font-weight: 600;
  background-color: #000;
  text-transform: uppercase;
  border-width: 1px;
  padding-left: 52px;
  padding-right: 52px;
  text-decoration: none;
  transition: 0.4s;
  border: 1px solid transparent;
  display: block;
}
#About_container .Info_box1 a:hover {
  background: transparent;
  color: black;
  border-color: #000;
}
#About_container .Info_box2 {
  background-color: #000;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 100px;
  gap: 30px;
}
@media (min-width: 320px) and (max-width: 1096px) {
  #About_container .Info_box2 {
    padding: 50px;
  }
}
#About_container .Info_box2 h1 {
  color: white;
  font-size: 28px;
  line-height: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}
#About_container .Info_box2 p {
  width: 60%;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 720px) {
  #About_container .Info_box2 p {
    width: 100%;
  }
}
#About_container .Info_box2 a {
  color: black;
  font-family: work sans, sans-serif;
  font-size: 12px;
  line-height: 46px;
  height: 46px;
  font-style: normal;
  font-weight: 600;
  background-color: white;
  text-transform: uppercase;
  border-width: 1px;
  padding-left: 52px;
  padding-right: 52px;
  text-decoration: none;
  transition: 0.4s;
  border: 1px solid transparent;
  padding: 15px 52px 15px 52px;
}
#About_container .Info_box2 a:hover {
  background: transparent;
  color: black;
  border-color: #000;
}

#Our_fovourites {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 140px 0;
}
@media (min-width: 320px) and (max-width: 1212px) {
  #Our_fovourites {
    flex-direction: column;
  }
}
#Our_fovourites .Img_box img {
  width: 629px;
  height: 812px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 320px) and (max-width: 688px) {
  #Our_fovourites .Img_box img {
    width: 400px;
    height: 600px;
  }
}
@media (min-width: 320px) and (max-width: 524px) {
  #Our_fovourites .Img_box img {
    width: 300px;
    height: 400px;
  }
}
#Our_fovourites .Info_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 1212px) {
  #Our_fovourites .Info_box {
    gap: 40px;
  }
}
#Our_fovourites .Info_box img {
  width: 494px;
  height: 352px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 320px) and (max-width: 576px) {
  #Our_fovourites .Info_box img {
    width: 100%;
  }
}
#Our_fovourites .Info_box .Title_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Our_fovourites .Info_box .Title_box h1 {
  color: #000000;
  font-size: 28px;
  line-height: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 1212px) {
  #Our_fovourites .Info_box .Title_box h1 {
    font-size: 35px;
  }
}
#Our_fovourites .Info_box .Description_box {
  width: 40%;
}
@media (min-width: 320px) and (max-width: 1212px) {
  #Our_fovourites .Info_box .Description_box {
    width: 80%;
  }
}
#Our_fovourites .Info_box .Description_box p {
  width: 100%;
  color: #707070;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 1212px) {
  #Our_fovourites .Info_box .Description_box p {
    font-size: 25px;
  }
}
#Our_fovourites .Info_box a {
  color: #303030;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
#Our_fovourites .Info_box a::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 1px;
  bottom: -5px;
}
#Our_fovourites .Info_box a:hover::before {
  animation: TextAnim 1s ease-in-out forwards;
}
@keyframes TextAnim {
  0% {
    right: 0;
    width: 100%;
  }
  50% {
    right: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

#Paralax_container {
  width: 100%;
  height: 782px;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  background: url(../../assets/paralax/h1-parallax-img-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
@media (min-width: 320px) and (max-width: 975px) {
  #Paralax_container {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 623px) {
  #Paralax_container {
    height: 500px;
  }
}
#Paralax_container > div {
  width: 475px;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  gap: 10px;
}
#Paralax_container > div h1 {
  color: #000;
  font-size: 26px;
  line-height: 27px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4.4px;
  text-transform: uppercase;
}
#Paralax_container > div p {
  color: #707070;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}

#Blog_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}
@media (min-width: 320px) and (max-width: 910px) {
  #Blog_container {
    padding: 10px;
  }
}
#Blog_container .Title_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#Blog_container .Title_box h1 {
  color: #000000;
  font-size: 34px;
  line-height: 42px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}
#Blog_container .Title_box span {
  color: #000000;
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}
#Blog_container #Blogs {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 50px;
  gap: 40px;
}
@media (min-width: 320px) and (max-width: 910px) {
  #Blog_container #Blogs {
    padding: 30px 10px;
  }
}
@media (min-width: 320px) and (max-width: 690px) {
  #Blog_container #Blogs {
    justify-content: center;
  }
}
#Blog_container #Blogs > div {
  width: 305px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 320px) and (max-width: 690px) {
  #Blog_container #Blogs > div {
    width: 100%;
  }
}
#Blog_container #Blogs > div .Img_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#Blog_container #Blogs > div .Img_box .Img {
  width: 100%;
  height: 375px;
}
#Blog_container #Blogs > div .Img_box .Img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#Blog_container #Blogs > div .Img_box .Date_box {
  position: absolute;
  background-color: white;
  width: 50px;
  padding: 5px;
  top: 20px;
  left: 20px;
}
#Blog_container #Blogs > div .Img_box .Date_box h1 {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
#Blog_container #Blogs > div .Info_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#Blog_container #Blogs > div .Info_box .Title_box {
  width: 100%;
  display: flex;
  align-items: start;
}
#Blog_container #Blogs > div .Info_box h1 {
  color: #000000;
  font-size: 22px;
  line-height: 27px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4.4px;
  text-transform: uppercase;
}
#Blog_container #Blogs > div .Info_box p {
  width: 100%;
  color: #707070;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}

#About_company_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 1068px) {
  #About_company_container {
    flex-direction: column;
  }
}
#About_company_container > div {
  width: 50%;
  height: 773px;
}
@media (min-width: 320px) and (max-width: 1068px) {
  #About_company_container > div {
    width: 100%;
  }
}
#About_company_container .Img_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#About_company_container .Img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#About_company_container > .Info_box {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 90px;
  padding-left: 130px;
  gap: 50px;
}
@media (min-width: 320px) and (max-width: 1068px) {
  #About_company_container > .Info_box {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-left: 0;
  }
}
#About_company_container > .Info_box .Paymant_box,
#About_company_container > .Info_box .Safe_box {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: flex-start;
}
@media (min-width: 320px) and (max-width: 1068px) {
  #About_company_container > .Info_box .Paymant_box,
  #About_company_container > .Info_box .Safe_box {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  #About_company_container > .Info_box .Paymant_box,
  #About_company_container > .Info_box .Safe_box {
    padding: 20px;
  }
}
#About_company_container > .Info_box .Paymant_box .Info_box,
#About_company_container > .Info_box .Safe_box .Info_box {
  width: 500px;
}
@media (min-width: 320px) and (max-width: 600px) {
  #About_company_container > .Info_box .Paymant_box .Info_box,
  #About_company_container > .Info_box .Safe_box .Info_box {
    width: 100%;
  }
}
#About_company_container > .Info_box .Paymant_box .Info_box h1,
#About_company_container > .Info_box .Safe_box .Info_box h1 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 27px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4.4px;
  text-transform: uppercase;
  width: 270px;
}
@media (min-width: 320px) and (max-width: 600px) {
  #About_company_container > .Info_box .Paymant_box .Info_box h1,
  #About_company_container > .Info_box .Safe_box .Info_box h1 {
    letter-spacing: 2px;
    width: 100%;
  }
}
#About_company_container > .Info_box .Paymant_box .Info_box p,
#About_company_container > .Info_box .Safe_box .Info_box p {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
  color: #CECECE;
}

#Second_slider_container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 10%;
}
@media (min-width: 320px) and (max-width: 1111px) {
  #Second_slider_container2 {
    flex-direction: column;
    justify-content: center;
    gap: 90px;
  }
}
#Second_slider_container2 .Slider_container2 {
  width: 650px;
  overflow: hidden;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  position: relative;
}
@media (min-width: 320px) and (max-width: 703px) {
  #Second_slider_container2 .Slider_container2 {
    width: 400px;
  }
}
@media (min-width: 320px) and (max-width: 432px) {
  #Second_slider_container2 .Slider_container2 {
    width: 300px;
  }
}
#Second_slider_container2 .Slider_container2 .Slider_box2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 .Title_box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 .Title_box span {
  color: #000000;
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  height: auto;
  transition: 0.4s;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page {
  width: 650px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page p {
  color: #353535;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  width: 70%;
}
@media (min-width: 320px) and (max-width: 703px) {
  #Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page p {
    width: 50%;
    font-size: 14px;
  }
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page h1 {
  color: #000000;
  font-size: 28px;
  line-height: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 432px) {
  #Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page h1 {
    letter-spacing: 4px;
  }
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page .Person_box {
  width: 100%;
  display: flex;
  gap: 10px;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page .Person_box h1 {
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4px;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page .Person_box span {
  font-size: 15px;
  font-weight: 400;
  color: #707070;
  text-transform: initial;
  letter-spacing: 0;
}
#Second_slider_container2 .Slider_container2 .Slider_box2 #Slider_box_fix2 .Slider_page .Person_box img {
  width: 44px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
}
#Second_slider_container2 .Slider_container2 #Pagination_container2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 20px;
}
#Second_slider_container2 .Slider_container2 #Pagination_container2 > div span {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 0.3em;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Second_slider_container2 .Slider_container2 #Pagination_container2 > div span::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #000;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
#Second_slider_container2 .Slider_container2 #Pagination_container2 > div span:hover::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
}
#Second_slider_container2 .Slider_container2 #Pagination_container2 > div .Active::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
#Second_slider_container2 > .Img_box {
  width: 605px;
  height: 780px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 785px) {
  #Second_slider_container2 > .Img_box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  #Second_slider_container2 > .Img_box {
    height: 400px;
  }
}
#Second_slider_container2 > .Img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#Img_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 572px) {
  #Img_container {
    flex-direction: column;
  }
}
#Img_container > div {
  width: 17%;
}
@media (min-width: 320px) and (max-width: 572px) {
  #Img_container > div {
    width: 100%;
  }
}
#Img_container > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
#Img_container > div img:hover {
  filter: brightness(50%);
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #000;
  gap: 90px;
  padding: 60px 0 0 0;
}
footer .Footer_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;
  flex-wrap: wrap;
  gap: 90px;
}
footer .Footer_box > div {
  width: 325px;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
footer .Footer_box > div h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
}
footer .Footer_box > div span {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  color: #c6c6c6;
  transition: 0.4s;
  cursor: pointer;
}
footer .Footer_box > div span:hover {
  color: #ffffff;
}
footer .About_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #272727;
  padding: 20px 40px;
}
@media (min-width: 320px) and (max-width: 852px) {
  footer .About_box {
    flex-direction: column;
    gap: 40px;
  }
}
footer .About_box .Info_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .About_box .Info_box span {
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  color: #c6c6c6;
  transition: 0.4s;
  cursor: pointer;
}
footer .About_box .Info_box span:hover {
  color: #ffffff;
}
footer .About_box .Footer_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
footer .About_box .Footer_title > div:nth-child(2) > span:hover {
  color: white;
}
footer .About_box .Footer_title span {
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  color: #c6c6c6;
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s;
}

#Product_mini_box {
  position: fixed;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box {
    flex-direction: column;
    height: 90vh;
  }
}
#Product_mini_box #Slider_container {
  display: flex;
  width: 500px;
  overflow: hidden;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box #Slider_container {
    width: 400px;
  }
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box #Slider_container {
    width: 300px;
  }
}
#Product_mini_box #Slider_container #Navigation_box {
  width: 50%;
  position: fixed;
  padding: 0 30px;
  z-index: 90;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box #Slider_container #Navigation_box {
    position: absolute;
    width: 100%;
    padding: 0 10px;
  }
}
#Product_mini_box #Slider_container #Navigation_box i {
  font-size: 30px;
}
#Product_mini_box #Slider_container #Slider_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
#Product_mini_box #Slider_container #Slider_box .Img_box {
  width: 500px;
  height: 468px;
  transition: 0.4s;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box #Slider_container #Slider_box .Img_box {
    width: 400px;
  }
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box #Slider_container #Slider_box .Img_box {
    width: 300px;
  }
}
#Product_mini_box #Slider_container #Slider_box .Img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.4s;
}
#Product_mini_box .Info_box {
  width: auto;
  height: 468px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 30px;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box .Info_box {
    padding: 10px 10px;
    height: 300px;
    align-items: center;
    overflow-y: scroll;
  }
  #Product_mini_box .Info_box::-webkit-scrollbar {
    width: 0;
  }
}
#Product_mini_box .Info_box p {
  width: 420px;
  color: #707070;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box .Info_box p {
    width: 100%;
  }
}
#Product_mini_box .Info_box #Product_name {
  color: #000;
  font-size: 34px;
  line-height: 42px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}
#Product_mini_box .Info_box #Product_price span {
  font-size: 24px;
  color: #353535;
  font-style: normal;
  font-weight: 400;
}
#Product_mini_box .Info_box #Product_action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box .Info_box #Product_action {
    flex-direction: column;
  }
}
#Product_mini_box .Info_box #Product_action .Counter_action {
  width: auto;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Product_mini_box .Info_box #Product_action .Counter_action > div {
  height: 44px;
  width: 44px;
  border: 1px solid #d8d8d8;
  border-radius: 0;
  margin: 0 -1px 0 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: inherit;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#Product_mini_box .Info_box #Product_action button {
  color: #fff;
  border: 1px solid black;
  font-size: 12px;
  line-height: 46px;
  height: 46px;
  font-style: normal;
  font-weight: 600;
  background-color: #000;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  border-width: 1px;
  padding-left: 52px;
  padding-right: 52px;
  transition: 0.4s;
  cursor: pointer;
}
#Product_mini_box .Info_box #Product_action button:hover {
  background: transparent;
  color: black;
}
#Product_mini_box .Info_box #Close_box {
  position: absolute;
  right: 30px;
  top: 30px;
}
#Product_mini_box .Info_box #Close_box i {
  font-size: 20px;
  cursor: pointer;
}

#Product_background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 3;
}

#Scroll_up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 90;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
#Scroll_up a {
  text-decoration: none;
  color: #636363;
  border: 1px solid #636363;
  padding: 10px 14px;
  transition: 0.4s;
}
#Scroll_up a:hover {
  background-color: #636363;
  color: white;
}/*# sourceMappingURL=home.css.map */