@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

body, html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  z-index: 3;
}
@keyframes Header {
  from {
    top: -200px;
    height: 150px;
  }
  to {
    top: 0;
    height: 80px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  header {
    justify-content: space-between;
    padding: 40px 30px;
  }
}
header .Menu_box {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box {
    height: 0;
    width: 100%;
    position: absolute;
    top: 120px;
    background-color: white;
    left: 0;
    padding: 0 30px;
    overflow: hidden;
    z-index: 1;
  }
}
header .Menu_box ul {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}
header .Menu_box ul > li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
header .Menu_box ul > li #Low_res_btn {
  display: none;
  transition: 0.4s;
  position: absolute;
  top: 10px;
  right: 30px;
}
header .Menu_box ul > li #Low_res_btn i {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul > li #Low_res_btn {
    display: flex;
  }
}
header .Menu_box ul > li > a {
  text-decoration: none;
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 320px) and (max-width: 552px) {
  header .Menu_box ul > li > a {
    font-size: 15px;
  }
}
header .Menu_box ul > li > a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: black;
  transition: 0.4s;
  bottom: -2px;
}
header .Menu_box ul > li > a:hover::before {
  width: 100%;
}
header .Menu_box ul li {
  position: relative;
}
@media (min-width: 1200px) {
  header .Menu_box ul li:hover > ul {
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul li ul {
    width: 225px;
    height: 0;
    background-color: transparent;
    gap: 5px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    padding: 0;
    transition: 0.4s;
  }
}
@media (min-width: 1024px) {
  header .Menu_box ul li ul {
    width: 225px;
    height: auto;
    display: none;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 150px;
    gap: 30px;
    padding: 20px;
    background-color: black;
    transition: 0.4s;
  }
}
header .Menu_box ul li ul a {
  color: #c6c6c6;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  transition: 0.4s;
}
@media (min-width: 1024px) {
  header .Menu_box ul li ul a:hover {
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul li ul a {
    color: black;
  }
}
header .Menu_box ul li ul a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: white;
  transition: 0.4s;
  bottom: -5px;
}
header .Menu_box ul li ul a:hover::before {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .Menu_box ul li .Low_res_active {
    height: 100px;
  }
}
header .Logo_box {
  transition: 0.4s;
}
header .Logo_box:hover {
  transform: scale(1.1);
}
header .User_info_container {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header .User_info_container {
    display: none;
  }
}
header .User_info_container .Cart_box {
  height: 100%;
  position: relative;
}
header .User_info_container .Cart_box:hover #Cart_items_box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
header .User_info_container .Cart_box #Cart_items_box {
  width: 280px;
  height: auto;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid #3d3d3d;
  padding: 5px 0;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box .Info_box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box img {
  width: 70px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box span {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box h2 {
  color: #707070;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}
header .User_info_container .Cart_box #Cart_items_box #Product_list .Product_box h2:hover {
  color: white;
}
header .User_info_container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
header .User_info_container > div i,
header .User_info_container > div svg {
  color: black;
  font-size: 13px;
}
header .User_info_container > div #Cart_counter,
header .User_info_container > div #Like_counter {
  color: #000;
  font-size: 12px;
}
header .User_info_container #Cart_items_box {
  position: absolute;
  display: none;
  right: 0;
  top: 150px;
  background-color: #262626;
  width: 280px;
  padding: 20px;
  gap: 10px;
  z-index: 3;
}
header .User_info_container #Cart_items_box span {
  width: 100%;
  float: none;
  padding: 7px 0;
  line-height: 20px;
  color: #9d9d9d;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}
header .User_info_container #Cart_items_box #Total_money {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .User_info_container #Cart_items_box #Total_money h1 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
}
header .User_info_container #Cart_items_box #Total_money span {
  color: #c2c2c2;
  font-size: 15px;
}
header .User_info_container #Cart_items_box .Button_box {
  width: 100%;
  background-color: white;
}
header .User_info_container #Cart_items_box .Button_box a {
  width: 100%;
  padding: 10px 0;
  display: block;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
header .User_info_container #Cart_items_box .Button_box a:hover {
  background-color: #3d3d3d;
  color: white;
}
header #Menu_btn_box {
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header #Menu_btn_box {
    display: flex;
  }
}

#Liked_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}
@media (min-width: 320px) and (max-width: 1707px) {
  #Liked_container {
    padding: 50px 20px;
  }
}
#Liked_container table {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Liked_container table tbody {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 320px) and (max-width: 416px) {
  #Liked_container table tbody {
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow-x: scroll;
  }
}
#Liked_container table tbody > tr:first-child {
  border: none;
  border-top: 1px solid #e0dede;
  height: 60px;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 416px) {
  #Liked_container table tbody > tr:first-child {
    height: 100vh;
    justify-content: space-evenly;
  }
}
#Liked_container table tbody tr {
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid #e0dede;
}
@media (min-width: 320px) and (max-width: 416px) {
  #Liked_container table tbody tr {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
#Liked_container table tbody tr td {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.4s;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 1639px) {
  #Liked_container table tbody tr td {
    width: 300px;
    height: auto;
    padding: 10px 0;
  }
}
@media (min-width: 320px) and (max-width: 1267px) {
  #Liked_container table tbody tr td {
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 806px) {
  #Liked_container table tbody tr td {
    width: 150px;
  }
}
@media (min-width: 320px) and (max-width: 608px) {
  #Liked_container table tbody tr td {
    width: 100px;
  }
}
#Liked_container table tbody tr td h3 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 881px) {
  #Liked_container table tbody tr td h3 {
    font-size: 10px;
  }
}
@media (min-width: 320px) and (max-width: 413px) {
  #Liked_container table tbody tr td h3 {
    font-size: 18px;
  }
}
#Liked_container table tbody tr td #Open_mini_product_btn {
  height: auto;
  background-color: black;
  border: 1px solid black;
  color: #888;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  padding: 15px 25px;
  white-space: nowrap;
  transition: 0.4s;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 822px) {
  #Liked_container table tbody tr td #Open_mini_product_btn {
    padding: 15px 10px;
  }
}
@media (min-width: 320px) and (max-width: 656px) {
  #Liked_container table tbody tr td #Open_mini_product_btn {
    transform: scale(0.8);
  }
}
#Liked_container table tbody tr td h2 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: 400;
}
#Liked_container table tbody tr td div {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Liked_container table tbody tr td img {
  width: 66px;
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
}
#Liked_container table tbody tr td h1 {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 770px) {
  #Liked_container table tbody tr td h1 {
    text-align: center;
  }
}
#Liked_container table tbody tr td #Add_cart_btn {
  color: #ffffff;
  font-size: 12px;
  height: 44px;
  text-transform: uppercase;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4px;
  background-color: #000000;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-color: #000000;
  border-width: 1px;
  padding: 0 30px;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 973px) {
  #Liked_container table tbody tr td #Add_cart_btn {
    padding: 0 5px;
  }
}
@media (min-width: 320px) and (max-width: 668px) {
  #Liked_container table tbody tr td #Add_cart_btn {
    padding: 0;
    font-size: 10px;
    letter-spacing: 1px;
  }
}
#Liked_container table tbody tr td i {
  cursor: pointer;
}

#Product_mini_box {
  position: fixed;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box {
    flex-direction: column;
    height: 90vh;
  }
}
#Product_mini_box #Slider_container {
  display: flex;
  width: 500px;
  overflow: hidden;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box #Slider_container {
    width: 400px;
  }
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box #Slider_container {
    width: 300px;
  }
}
#Product_mini_box #Slider_container #Navigation_box {
  width: 50%;
  position: fixed;
  padding: 0 30px;
  z-index: 90;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box #Slider_container #Navigation_box {
    position: absolute;
    width: 100%;
    padding: 0 10px;
  }
}
#Product_mini_box #Slider_container #Navigation_box i {
  font-size: 30px;
}
#Product_mini_box #Slider_container #Slider_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
#Product_mini_box #Slider_container #Slider_box .Img_box {
  width: 500px;
  height: 468px;
  transition: 0.4s;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box #Slider_container #Slider_box .Img_box {
    width: 400px;
  }
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box #Slider_container #Slider_box .Img_box {
    width: 300px;
  }
}
#Product_mini_box #Slider_container #Slider_box .Img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.4s;
}
#Product_mini_box .Info_box {
  width: auto;
  height: 468px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 30px;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 1000px) {
  #Product_mini_box .Info_box {
    padding: 10px 10px;
    height: 300px;
    align-items: center;
    overflow-y: scroll;
  }
  #Product_mini_box .Info_box::-webkit-scrollbar {
    width: 0;
  }
}
#Product_mini_box .Info_box p {
  width: 420px;
  color: #707070;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box .Info_box p {
    width: 100%;
  }
}
#Product_mini_box .Info_box #Product_name {
  color: #000;
  font-size: 34px;
  line-height: 42px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}
#Product_mini_box .Info_box #Product_price span {
  font-size: 24px;
  color: #353535;
  font-style: normal;
  font-weight: 400;
}
#Product_mini_box .Info_box #Product_action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 320px) and (max-width: 464px) {
  #Product_mini_box .Info_box #Product_action {
    flex-direction: column;
  }
}
#Product_mini_box .Info_box #Product_action .Counter_action {
  width: auto;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Product_mini_box .Info_box #Product_action .Counter_action > div {
  height: 44px;
  width: 44px;
  border: 1px solid #d8d8d8;
  border-radius: 0;
  margin: 0 -1px 0 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: inherit;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#Product_mini_box .Info_box #Product_action button {
  color: #fff;
  border: 1px solid black;
  font-size: 12px;
  line-height: 46px;
  height: 46px;
  font-style: normal;
  font-weight: 600;
  background-color: #000;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  border-width: 1px;
  padding-left: 52px;
  padding-right: 52px;
  transition: 0.4s;
  cursor: pointer;
}
#Product_mini_box .Info_box #Product_action button:hover {
  background: transparent;
  color: black;
}
#Product_mini_box .Info_box #Close_box {
  position: absolute;
  right: 30px;
  top: 30px;
}
#Product_mini_box .Info_box #Close_box i {
  font-size: 20px;
  cursor: pointer;
}

#Product_background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 3;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #000;
  gap: 90px;
  padding: 60px 0 0 0;
}
footer .Footer_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;
  flex-wrap: wrap;
  gap: 90px;
}
footer .Footer_box > div {
  width: 325px;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
footer .Footer_box > div h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
}
footer .Footer_box > div span {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  color: #c6c6c6;
  transition: 0.4s;
  cursor: pointer;
}
footer .Footer_box > div span:hover {
  color: #ffffff;
}
footer .About_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #272727;
  padding: 20px 40px;
}
@media (min-width: 320px) and (max-width: 852px) {
  footer .About_box {
    flex-direction: column;
    gap: 40px;
  }
}
footer .About_box .Info_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .About_box .Info_box span {
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  color: #c6c6c6;
  transition: 0.4s;
  cursor: pointer;
}
footer .About_box .Info_box span:hover {
  color: #ffffff;
}
footer .About_box .Footer_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
footer .About_box .Footer_title > div:nth-child(2) > span:hover {
  color: white;
}
footer .About_box .Footer_title span {
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  color: #c6c6c6;
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s;
}

#Scroll_up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 90;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
#Scroll_up a {
  text-decoration: none;
  color: #636363;
  border: 1px solid #636363;
  padding: 10px 14px;
  transition: 0.4s;
}
#Scroll_up a:hover {
  background-color: #636363;
  color: white;
}/*# sourceMappingURL=likePage.css.map */