@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
    // border: 1px solid red

}

body {
    &::-webkit-scrollbar {
        width: 0;
    }
}


header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
    z-index: 3;


    @keyframes Header {
        from {
            top: -200px;
            height: 150px;
        }

        to {
            top: 0;
            height: 80px;
        }
    }

    @media (min-width:320px) and (max-width:1024px) {
        justify-content: space-between;
        padding: 40px 30px;


    }

    .Menu_box {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;

        @media (min-width:320px) and (max-width:1024px) {

            height: 0;
            width: 100%;
            position: absolute;
            top: 120px;
            background-color: white;
            left: 0;
            padding: 0 30px;
            overflow: hidden;
            z-index: 1;

        }

        ul {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            list-style: none;

            @media (min-width:320px) and (max-width:1024px) {
                width: 100%;
                flex-direction: column;
                gap: 20px;
                align-items: start;
            }

           

            &>li {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                position: relative;

                #Low_res_btn {
                    display: none;
                    transition: .4s;
                    position: absolute;
                    top: 10px;
                    right: 30px;

                    i {
                        cursor: pointer;
                    }

                    @media (min-width:320px) and (max-width:1024px) {
                        display: flex;
                    }
                }
            }

            &>li>a {
                text-decoration: none;
                color: #303030;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;

                @media (min-width:320px) and (max-width:552px) {
                    font-size: 15px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 0;
                    background-color: black;
                    transition: .4s;
                    bottom: -2px;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            li {
                position: relative;

                @media (min-width:1200px) {
                    &:hover>ul {
                        display: flex;
                    }
                }

                ul {

                    @media (min-width:320px) and (max-width:1024px) {
                        width: 225px;
                        height: 0;
                        background-color: transparent;
                        gap: 5px;
                        padding: 20px;
                        overflow: hidden;
                        display: flex;
                        padding: 0;
                        transition: .4s;
                    }

                    @media (min-width:1024px) {
                        width: 225px;
                        height: auto;
                        display: none;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                        position: absolute;
                        top: 150px;
                        gap: 30px;
                        padding: 20px;
                        background-color: black;
                        transition: .4s;
                    }

                    a {
                        color: #c6c6c6;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        position: relative;
                        transition: .4s;

                        @media (min-width:1024px) {
                            &:hover {
                                color: white;

                            }
                        }

                        @media (min-width:320px) and (max-width:1024px) {

                            color: black;

                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 1px;
                            width: 0;
                            background-color: white;
                            transition: .4s;
                            bottom: -5px;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }

                @media (min-width:320px) and (max-width:1024px) {
                    .Low_res_active {
                        height: 100px;
                    }
                }
            }
        }
    }

    .Logo_box {
        transition: .4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .User_info_container {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @media (min-width:320px) and (max-width:1024px) {
            display: none;
        }

        .Cart_box {
            height: 100%;
            position: relative;

            &:hover #Cart_items_box {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;

            }

            #Cart_items_box {
                width: 280px;
                height: auto;

                #Product_list {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 30px;

                    .Product_box {
                        width: 100%;
                        display: flex;
                        align-items: start;
                        justify-content: flex-start;
                        gap: 10px;
                        border-bottom: 1px solid #3d3d3d;
                        padding: 5px 0;

                        .Info_box {
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            flex-direction: column;
                            gap: 10px;
                        }

                        img {
                            width: 70px;
                            height: 80px;
                            object-fit: cover;
                        }

                        span {
                            letter-spacing: 1px;
                            font-weight: 600;
                            font-size: 11px;
                            text-transform: uppercase;
                            color: white;
                        }

                        h2 {
                            color: #707070;
                            letter-spacing: 1px;
                            font-weight: 600;
                            font-size: 11px;
                            text-transform: uppercase;


                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            i,
            svg {
                color: black;
                font-size: 13px;
            }

            #Cart_counter,
            #Like_counter {
                color: #000;
                font-size: 12px;
            }

        }

        #Cart_items_box {
            position: absolute;
            display: none;
            right: 0;
            top: 150px;
            background-color: #262626;
            width: 280px;
            padding: 20px;
            gap: 10px;
            z-index: 3;

            span {
                width: 100%;
                float: none;
                padding: 7px 0;

                line-height: 20px;
                color: #9d9d9d;
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
            }

            #Total_money {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    color: #fff;
                }

                span {
                    color: #c2c2c2;
                    font-size: 15px;
                }
            }

            .Button_box {
                width: 100%;
                background-color: white;

                button {
                    width: 100%;
                    padding: 10px 0;
                    outline: none;
                    border: none;
                    color: black;
                    cursor: pointer;
                    border: 1px solid white;
                    transition: .4s;

                    &:hover {
                        background-color: #3d3d3d;
                        color: white;

                    }
                }
            }
        }
    }

    #Menu_btn_box {
        display: none;

        @media (min-width:320px) and (max-width:1024px) {
            display: flex;
        }
    }
}

.Path_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 300px;
    background-color: #fbf9f9;
    transition: .4s;

    @media (max-height:722px) {
        padding: 50px 300px;
    }

    @media (max-height:538px) {
        padding: 20px 300px;
    }

    @media (min-width:320px) and (max-width:600px) {
        padding: 20px 100px;
    }

    h1 {
        font-size: 15px;
        line-height: 25px;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 400;
    }
}

#Liked_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;

    @media (min-width:320px) and (max-width:1707px) {
        padding: 50px 20px;
    }

    table {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        tbody {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media (min-width:320px) and (max-width:416px) {
                flex-direction: row;
                height: 100vh;
                width: 100%;
                overflow-x: scroll;

            }



            &>tr:first-child {
                border: none;
                border-top: 1px solid #e0dede;
                height: 60px;
                display: flex;
                align-items: center;

                @media (min-width:320px) and (max-width:416px) {

                    height: 100vh;
                    justify-content: space-evenly;
                }
            }


            tr {

                width: 100%;
                height: auto;
                display: flex;
                border: 1px solid #e0dede;

                @media (min-width:320px) and (max-width:416px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                td {
                    width: 500px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    transition: .4s;
                    flex-wrap: wrap;

                    @media (min-width:320px) and (max-width:1639px) {
                        width: 300px;
                        height: auto;
                        padding: 10px 0;
                    }

                    @media (min-width:320px) and (max-width:1267px) {
                        width: 200px;
                    }

                    @media (min-width:320px) and (max-width:806px) {
                        width: 150px;
                    }

                    @media (min-width:320px) and (max-width:608px) {
                        width: 100px;
                    }

                    h3 {
                        font-family: "Work sans", sans-serif;
                        text-transform: uppercase;
                        color: #000;
                        font-size: 18px;
                        letter-spacing: .2em;
                        font-weight: 600;

                        @media (min-width:320px) and (max-width:881px) {
                            font-size: 10px;
                        }

                        @media (min-width:320px) and (max-width:413px) {
                            font-size: 18px;
                        }
                    }

                    #Open_mini_product_btn {
                        height: auto;
                        background-color: black;
                        border: 1px solid black;
                        color: #888;
                        font-family: 'Work Sans', sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 2.3px;
                        text-transform: uppercase;
                        padding: 15px 25px;
                        white-space: nowrap;
                        transition: .4s;
                        cursor: pointer;


                        @media (min-width:320px) and (max-width:822px) {
                            padding: 15px 10px;
                        }

                        @media (min-width:320px) and (max-width:656px) {
                            transform: scale(0.8);
                        }
                    }

                    h2 {
                        font-family: "Work sans", sans-serif;
                        text-transform: uppercase;
                        color: #000;
                        font-size: 15px;

                        font-weight: 400;
                    }

                    div {
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                    img {
                        width: 66px;
                        height: 88px;
                        object-fit: cover;
                    }

                    h1 {
                        color: #888;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: left;

                        @media (min-width:320px) and (max-width:770px) {
                            text-align: center;
                        }
                    }

                    #Add_cart_btn {
                        color: #ffffff;
                        font-size: 12px;

                        height: 44px;
                        text-transform: uppercase;
                        font-family: Work Sans;
                        font-style: normal;
                        font-weight: 600;
                        letter-spacing: 4px;
                        background-color: #000000;
                        border-radius: 0px;
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        border-color: #000000;
                        border-width: 1px;
                        padding: 0 30px;
                        cursor: pointer;

                        @media (min-width:320px) and (max-width:973px) {
                            padding: 0 5px;

                        }

                        @media (min-width:320px) and (max-width:668px) {
                            padding: 0;
                            font-size: 10px;
                            letter-spacing: 1px;
                        }
                    }

                    i {
                        cursor: pointer;
                    }
                }


            }
        }
    }
}