@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';


}
body,html {
    scroll-behavior: smooth;
}
body {
    &::-webkit-scrollbar {
        width: 0;
    }
}



header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

    z-index: 3;


    @keyframes Header {
        from {
            top: -200px;
            height: 150px;
        }

        to {
            top: 0;
            height: 80px;
        }
    }

    @media (min-width:320px) and (max-width:1024px) {
        justify-content: space-between;
        padding: 40px 30px;


    }

    .Menu_box {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;

        @media (min-width:320px) and (max-width:1024px) {

            height: 0;
            width: 100%;
            position: absolute;
            top: 120px;
            background-color: white;
            left: 0;
            padding: 0 30px;
            overflow: hidden;
            z-index: 1;

        }

        ul {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            list-style: none;

            @media (min-width:320px) and (max-width:1024px) {
                width: 100%;
                flex-direction: column;
                gap: 20px;
                align-items: start;
            }



            &>li {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                position: relative;

                #Low_res_btn {
                    display: none;
                    transition: .4s;
                    position: absolute;
                    top: 10px;
                    right: 30px;

                    i {
                        cursor: pointer;
                    }

                    @media (min-width:320px) and (max-width:1024px) {
                        display: flex;
                    }
                }
            }

            &>li>a {
                text-decoration: none;
                color: #303030;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;

                @media (min-width:320px) and (max-width:552px) {
                    font-size: 15px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 0;
                    background-color: black;
                    transition: .4s;
                    bottom: -2px;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            li {
                position: relative;

                @media (min-width:1200px) {
                    &:hover>ul {
                        display: flex;
                    }
                }

                ul {

                    @media (min-width:320px) and (max-width:1024px) {
                        width: 225px;
                        height: 0;
                        background-color: transparent;
                        gap: 5px;
                        padding: 20px;
                        overflow: hidden;
                        display: flex;
                        padding: 0;
                        transition: .4s;
                    }

                    @media (min-width:1024px) {
                        width: 225px;
                        height: auto;
                        display: none;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                        position: absolute;
                        top: 150px;
                        gap: 30px;
                        padding: 20px;
                        background-color: black;
                        transition: .4s;
                    }

                    a {
                        color: #c6c6c6;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        position: relative;
                        transition: .4s;

                        @media (min-width:1024px) {
                            &:hover {
                                color: white;

                            }
                        }

                        @media (min-width:320px) and (max-width:1024px) {

                            color: black;

                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 1px;
                            width: 0;
                            background-color: white;
                            transition: .4s;
                            bottom: -5px;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }

                @media (min-width:320px) and (max-width:1024px) {
                    .Low_res_active {
                        height: 100px;
                    }
                }
            }
        }
    }

    .Logo_box {
        transition: .4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .User_info_container {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @media (min-width:320px) and (max-width:1024px) {
            display: none;
        }

        .Cart_box {
            height: 100%;
            position: relative;

            &:hover #Cart_items_box {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;

            }

            #Cart_items_box {
                width: 280px;
                height: auto;

                #Product_list {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 30px;

                    .Product_box {
                        width: 100%;
                        display: flex;
                        align-items: start;
                        justify-content: flex-start;
                        gap: 10px;
                        border-bottom: 1px solid #3d3d3d;
                        padding: 5px 0;

                        .Info_box {
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            flex-direction: column;
                            gap: 10px;
                        }

                        img {
                            width: 70px;
                            height: 80px;
                            object-fit: cover;
                        }

                        span {
                            letter-spacing: 1px;
                            font-weight: 600;
                            font-size: 11px;
                            text-transform: uppercase;
                            color: white;
                        }

                        h2 {
                            color: #707070;
                            letter-spacing: 1px;
                            font-weight: 600;
                            font-size: 11px;
                            text-transform: uppercase;


                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            i,
            svg {
                color: black;
                font-size: 13px;
            }

            #Cart_counter,
            #Like_counter {
                color: #000;
                font-size: 12px;
            }

        }

        #Cart_items_box {
            position: absolute;
            display: none;
            right: 0;
            top: 150px;
            background-color: #262626;
            width: 280px;
            padding: 20px;
            gap: 10px;
            z-index: 3;

            span {
                width: 100%;
                float: none;
                padding: 7px 0;

                line-height: 20px;
                color: #9d9d9d;
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
            }

            #Total_money {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    color: #fff;
                }

                span {
                    color: #c2c2c2;
                    font-size: 15px;
                }
            }

            .Button_box {
                width: 100%;
                background-color: white;

                a {
                    width: 100%;
                    padding: 10px 0;
                    display: block;
                    outline: none;
                    border: none;
                    color: black;
                    cursor: pointer;
                    border: 1px solid white;
                    transition: .4s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;


                    &:hover {
                        background-color: #3d3d3d;
                        color: white;

                    }


                }
            }
        }
    }

    #Menu_btn_box {
        display: none;

        @media (min-width:320px) and (max-width:1024px) {
            display: flex;
        }
    }
}

#Product_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

    @media (min-width:320px) and (max-width:1288px) {
        flex-direction: column;
        gap: 50px;
    }

    .Img_container {
        width: auto;
        height: 430px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width:320px) and (max-width:664px) {
            flex-direction: column;
            gap: 50px;
        }

        .Column1 {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;

            @media (min-width:320px) and (max-width:664px) {
                flex-direction: row;

                img {
                    transform: translateX(0) !important;
                }
            }

            @media (min-width:320px) and (max-width:496px) {
                display: none;
            }

            .Img {
                width: 154px;
                height: 132px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            #Img1 {
                img {
                    transform: translateX(-60px);
                }
            }

            #Img2 {
                img {
                    transform: translateX(60px);
                }
            }

            #Img3 {
                img {
                    transform: translateY(60px);
                }
            }
        }

        #Main_img {
            width: 460px;
            height: 430px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width:320px) and (max-width:664px) {
                height: 311px;
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .Info_box {
        width: auto;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        @media (min-width:320px) and (max-width:664px) {
            padding: 0 10px;
        }

        .Title_box {
            h1 {
                font-size: 39px;
                line-height: 49px;
                font-weight: 600;
                font-style: normal;
                text-transform: uppercase;
                color: #000;
            }
        }

        .Price_box {
            span {
                color: #353535;
                font-size: 20px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;
            }

        }

        .Description_box {
            p {
                color: #707070;
                font-size: 15px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;
                width: 630px;

                @media (min-width:320px) and (max-width:648px) {
                    width: 100%;
                }

                @media (min-width:320px) and (max-width:456px) {
                    width: 100%;
                }
            }
        }

        .Action_box {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .Cart_counter {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                &>div {
                    height: 44px;
                    width: 44px;
                    border: 1px solid #d8d8d8;
                    border-radius: 0;
                    margin: 0 -1px 0 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-size: 17px;
                    font-family: inherit;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            #Add_cart_box {
                button {
                    color: #fff;
                    border-color: #000;
                    font-size: 12px;
                    line-height: 46px;
                    height: 46px;
                    font-style: normal;
                    font-weight: 600;
                    background-color: #000;
                    border-radius: 0;
                    -moz-border-radius: 0;
                    -webkit-border-radius: 0;
                    letter-spacing: 2.3px;
                    text-transform: uppercase;
                    border-width: 1px;
                    padding-left: 52px;
                    padding-right: 52px;
                    cursor: pointer;
                    transition: .4s;

                    &:hover {
                        color: black;
                        background: transparent;
                    }
                }
            }
        }

        #Like_box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            i {
                cursor: pointer;
            }

            .Wishlist {

                color: #000;
                font-weight: 600;
                font-size: 12px;
                line-height: 1.5em;
                letter-spacing: .3em;
                text-transform: uppercase;
                transition: .4s;
                position: relative;
                cursor: pointer;

                &:hover::before {
                    animation: BorderAnim 1s ease-in-out forwards;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: black;
                    bottom: 0;
                    right: 0;



                    @keyframes BorderAnim {
                        0% {
                            right: 0;
                            width: 100%;
                        }

                        50% {
                            right: 0;
                            width: 0;
                        }

                        100% {
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

#Related_products {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 60px;

    .Title_box {
        h1 {
            color: #000;
            font-size: 22px;
            line-height: 27px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 4.4px;
            text-transform: uppercase;
        }
    }

    #Related_container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        &>div {
            width: 302px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;

            &:hover .Img_box button {
                visibility: visible;
                opacity: 1;
            }

            .Img_box {
                width: 100%;
                height: 404px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                button {
                    position: absolute;
                    bottom: 20%;
                    visibility: hidden;
                    opacity: 0;
                    transition: .4s;
                    color: #fff;
                    font-size: 12px;
                    line-height: 44px;
                    height: 44px;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: 4px;
                    background-color: #000;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-color: #000;
                    border-width: 1px;
                    padding: 0 20px;
                    cursor: pointer;
                
            }
        }

        .Info_box {
            width: 100%;
            height: auto;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
            gap: 10px;

            .Title_box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                a {

                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 600;
                    font-style: normal;
                    text-transform: uppercase;
                    color: #000;
                    text-align: center;
                    padding: 0;
                    transition: .4s;
                    &:hover {
                        text-shadow: 0 4px 20px rgba(0,0,0,0.4);
                    }
                }
            }

            .Price_box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                span {

                    color: #353535;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;

                }
            }
        }
    }
}
}
footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000;
    gap: 90px;
    padding: 60px 0 0 0;

    .Footer_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 10%;
        flex-wrap: wrap;
        gap: 90px;

        &>div {
            width: 325px;
            height: auto;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            h1 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                font-style: normal;
            }

            span {
                font-size: 14px;
                line-height: 15px;
                font-weight: 400;
                text-transform: none;
                font-style: normal;
                color: #c6c6c6;
                transition: .4s;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    .About_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #272727;
        padding: 20px 40px;
@media (min-width:320px) and (max-width:852px) {
flex-direction: column;
gap: 40px;
}
        .Info_box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          

            span {
                font-size: 13px;
                line-height: 25px;
                font-weight: 400;
                text-transform: none;
                font-style: normal;
                color: #c6c6c6;
                transition: .4s;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                }
            }
        }

        .Footer_title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            &>div:nth-child(2)>span {
                &:hover {
                    color: white;
                }
            }

            span {
                line-height: 25px;
                font-weight: 400;
                text-transform: none;
                font-style: normal;
                color: #c6c6c6;
                font-size: 13px;
                cursor: pointer;
                transition: .4s;
            }
        }

    }
}

#Scroll_up {
    position: fixed;
    bottom:30px;
    right:30px;
    z-index: 90;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    a {
        text-decoration: none;
        color: #636363;
        border: 1px solid #636363;
        padding: 10px 14px;
        transition: .4s;
        &:hover {
            background-color: #636363;
            color: white;
        }
    }
    }