@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';

}


header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
    z-index: 5;


    @keyframes Header {
        from {
            top: -200px;
            height: 150px;
        }

        to {
            top: 0;
            height: 80px;
        }
    }

    @media (min-width:320px) and (max-width:1024px) {
        justify-content: space-between;
        padding: 40px 30px;


    }

    .Menu_box {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;

        @media (min-width:320px) and (max-width:1024px) {

            height: 0;
            width: 100%;
            position: absolute;
            top: 150px;
            background-color: white;
            left: 0;
            padding: 0 30px;
            overflow: hidden;
            z-index: 1;

        }

        ul {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            list-style: none;

            @media (min-width:320px) and (max-width:1024px) {
                width: 100%;
                flex-direction: column;
                gap: 20px;
                align-items: start;
            }


            &>li {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                position: relative;

                #Low_res_btn {
                    display: none;
                    transition: .4s;
                    position: absolute;
                    top: 10px;
                    right: 30px;

                    i {
                        cursor: pointer;
                    }

                    @media (min-width:320px) and (max-width:1024px) {
                        display: flex;
                    }
                }
            }

            &>li>a {
                text-decoration: none;
                color: #303030;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;

                @media (min-width:320px) and (max-width:552px) {
                    font-size: 15px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 0;
                    background-color: black;
                    transition: .4s;
                    bottom: -2px;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            li {
                position: relative;

                @media (min-width:1200px) {
                    &:hover>ul {
                        display: flex;
                    }
                }

                ul {

                    @media (min-width:320px) and (max-width:1024px) {
                        width: 225px;
                        height: 0;
                        background-color: transparent;
                        gap: 5px;
                        padding: 20px;
                        overflow: hidden;
                        display: flex;
                        padding: 0;
                        transition: .4s;
                    }

                    @media (min-width:1024px) {
                        width: 225px;
                        height: auto;
                        display: none;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                        position: absolute;
                        top: 150px;
                        gap: 30px;
                        padding: 20px;
                        background-color: black;
                        transition: .4s;
                    }

                    @media (min-width:1200px) {
                        &>li:first-child>a {
                            color: white;

                            &::before {
                                content: '';
                                position: absolute;
                                height: 1px;
                                width: 100%;
                                background-color: white;
                                transition: .4s;
                                bottom: -5px;
                            }


                        }
                    }

                    a {
                        color: #c6c6c6;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        position: relative;
                        transition: .4s;

                        @media (min-width:1024px) {
                            &:hover {
                                color: white;

                            }
                        }

                        @media (min-width:320px) and (max-width:1024px) {

                            color: black;

                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 1px;
                            width: 0;
                            background-color: white;
                            transition: .4s;
                            bottom: -5px;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }

                @media (min-width:320px) and (max-width:1024px) {
                    .Low_res_active {
                        height: 100px;
                    }
                }
            }
        }
    }

    .Logo_box {
        transition: .4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .User_info_container {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @media (min-width:320px) and (max-width:1024px) {
            display: none;
        }

        .Cart_box {
            height: 100%;
            position: relative;

            &:hover #Cart_items_box {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;

            }

            #Cart_items_box {
                width: 280px;
                height: auto;

                #Product_list {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 30px;

                    .Product_box {
                        width: 100%;
                        display: flex;
                        align-items: start;
                        justify-content: flex-start;
                        gap: 10px;
                        border-bottom: 1px solid #3d3d3d;
                        padding: 5px 0;

                        .Info_box {
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            flex-direction: column;
                            gap: 10px;
                        }

                        img {
                            width: 70px;
                            height: 80px;
                            object-fit: cover;
                        }

                        span {
                            letter-spacing: 1px;
                            font-weight: 600;
                            font-size: 11px;
                            text-transform: uppercase;
                            color: white;
                        }

                        h2 {
                            color: #707070;
                            letter-spacing: 1px;
                            font-weight: 600;
                            font-size: 11px;
                            text-transform: uppercase;


                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            i,
            svg {
                color: black;
                font-size: 13px;
            }

            #Cart_counter,
            #Like_counter {
                color: #000;
                font-size: 12px;
            }

        }

        #Cart_items_box {
            position: absolute;
            display: none;
            right: 0;
            top: 150px;
            background-color: #262626;
            width: 280px;
            padding: 20px;
            gap: 10px;
            z-index: 3;

            span {
                width: 100%;
                float: none;
                padding: 7px 0;

                line-height: 20px;
                color: #9d9d9d;
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
            }

            #Total_money {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    color: #fff;
                }

                span {
                    color: #c2c2c2;
                    font-size: 15px;
                }
            }

            .Button_box {
                width: 100%;
                background-color: white;

                a {
                    width: 100%;
                    padding: 10px 0;
                    display: block;
                    outline: none;
                    border: none;
                    color: black;
                    cursor: pointer;
                    border: 1px solid white;
                    transition: .4s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;


                    &:hover {
                        background-color: #3d3d3d;
                        color: white;

                    }


                }
            }
        }
    }

    #Menu_btn_box {
        display: none;

        @media (min-width:320px) and (max-width:1024px) {
            display: flex;
        }
    }
}

#Main_banner {
    width: 100%;
    height: 671px;
    background: url(../../assets/img/p2-bckgr-img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width:320px) and (max-width:1093px) {
        height: 500px;
    }

    @media (min-width:320px) and (max-width:605px) {
        height: 400px;
    }
}


#About_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Info_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        padding: 100px 0;

        @media (min-width:320px) and (max-width:679px) {
            padding: 100px 30px;
        }

        span {
            color: #000;
            font-size: 12px;
            line-height: 24px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        .Title1_box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                text-align: center;
                color: #000;
                font-family: work sans, sans-serif;
                font-size: 34px;
                line-height: 42px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 8px;
                text-transform: uppercase;
            }
        }

        .Description_box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: #707070;
                font-size: 15px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;
                text-align: center;
                width: 50%;

                @media (min-width:320px) and (max-width:679px) {
                    width: 100%;
                }
            }
        }
    }

    #About_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (min-width:320px) and (max-width:720px) {
            flex-direction: column;
            justify-content: center;

        }

        &>div {
            width: 50%;
            height: 773px;
            transition: .4s;

            @media (min-width:320px) and (max-width:720px) {
                width: 100%;

            }

            @media (min-width:320px) and (max-width:1096px) {
                height: 500px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .Info_box1 {
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: flex-end;
            background-color: #fcfafa;
            padding: 100px;
            gap: 20px;

            @media (min-width:320px) and (max-width:1096px) {
                padding: 50px;
            }

            h1 {
                color: #000;
                font-size: 28px;
                line-height: 34px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 8px;
                text-transform: uppercase;
            }

            p {
                width: 60%;
                color: #707070;
                font-size: 15px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;

                @media (min-width:320px) and (max-width:720px) {
                    width: 100%;

                }
            }

            a {
                color: #fff;
                font-family: work sans, sans-serif;
                font-size: 12px;
                line-height: 46px;
                height: 46px;
                font-style: normal;
                font-weight: 600;
                background-color: #000;
                text-transform: uppercase;
                border-width: 1px;
                padding-left: 52px;
                padding-right: 52px;
                text-decoration: none;
                transition: .4s;
                border: 1px solid transparent;
                display: block;

                &:hover {
                    background: transparent;
                    color: black;
                    border-color: #000;
                }

            }
        }

        .Info_box2 {
            background-color: #000;
            display: flex;
            align-items: start;
            justify-content: flex-end;
            flex-direction: column;
            padding: 100px;
            gap: 30px;

            @media (min-width:320px) and (max-width:1096px) {
                padding: 50px;
            }

            h1 {
                color: white;
                font-size: 28px;
                line-height: 34px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 8px;
                text-transform: uppercase;

            }

            p {
                width: 60%;
                font-size: 15px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;
                color: #ffffff;

                @media (min-width:320px) and (max-width:720px) {
                    width: 100%;

                }
            }

            a {
                color: black;
                font-family: work sans, sans-serif;
                font-size: 12px;
                line-height: 46px;
                height: 46px;
                font-style: normal;
                font-weight: 600;
                background-color: white;
                text-transform: uppercase;
                border-width: 1px;
                padding-left: 52px;
                padding-right: 52px;
                text-decoration: none;
                transition: .4s;
                border: 1px solid transparent;
                padding: 15px 52px 15px 52px;

                &:hover {
                    background: transparent;
                    color: black;
                    border-color: #000;
                }

            }
        }
    }

}

#Info_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 20%;
    gap: 60px;

    @media (min-width:320px) and (max-width:1254px) {
        justify-content: center;
        padding: 100px 10%;
    }

    @media (min-width:320px) and (max-width:893px) {
        padding: 100px 1%;
    }

    &>div {
        width: 346px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        h1 {
            text-align: center;
            color: #000;
            font-size: 22px;
            line-height: 27px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 4.4px;
            text-transform: uppercase;
        }

        p {
            text-align: center;
            color: #707070;
            font-size: 15px;
            line-height: 25px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

#Paralax_container {
    width: 100%;
    height: 782px;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    background: url(../../assets/paralax/h1-parallax-img-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;

    @media (min-width:320px) and (max-width:975px) {
        align-items: center;
        justify-content: center;
    }

    @media (min-width:320px) and (max-width:623px) {
        height: 500px;
    }

    &>div {
        width: 475px;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 40px;
        gap: 10px;

        h1 {
            color: #000;
            font-size: 26px;
            line-height: 27px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 4.4px;
            text-transform: uppercase;
        }

        p {
            color: #707070;
            font-size: 15px;
            line-height: 25px;
            font-style: normal;
            font-weight: 400;
        }
    }
}